/*Especificidad: 001*/
/************************
  Abel Busto Dopazo - UO284262
Descripción de estilos
************************/

body{
	line-height: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
}


header{
	padding: 0em 3em 0em 0em;
}

nav a{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	color: black;
}

nav a:link {
    text-decoration:none;
}

nav a:hover { 
	background: #D7DBDD; 
	padding: 1em 1em 1em 1em;
}  

nav ul{
	padding: 0;
	list-style:none;
}

nav ul li{
	text-decoration: none;
	padding: 1em;
}

article{
	font-size: 1.2em;
}

article h2{
	text-align: center;
}

article picture{
	object-fit:scale-down;
}

table{
	display: inline-block;
	border-collapse: collapse;
	caption-side: bottom;
}

td, th, tr{
	border: black 1px solid;
	padding: 0.2em;
}

