body {
  display: grid;
  grid-template-areas: 
    "h h h a a a a a a a a a a a a"
	"n n n a a a a a a a a a a a a";
  grid-template-rows: 0.1fr;
}

header{
	grid-area: h;
	display: grid;
  	grid-template-areas:
		"p p h1 h1 h1 h1"
		"p p h1 h1 h1 h1";
}

header h1{
	grid-area: h1;
}

header picture{
	grid-area: p;
}

nav {
  grid-area: n;
}

article {
  grid-area: a;
  display: grid;
  grid-template-areas: 
  		"h1 h1"
		"s s"
		"p p";
  grid-template-columns: repeat(2,1fr); 	

}

article h2{
	grid-area: h1;
}

article section{
	grid-area: s;
}

article section:last-of-type{
	grid-area: p;
}
