body
{
	background-color: red;
}

aside
{
	background-color: green;
}

header
{
	background-color: blue;
}

footer
{
	background-color: white;
}

article
{
	background-color: yellow;
}

table{
	display: inline-block;
	background-color: white;
}

nav{
	border: 0.2em inset grey;
	margin: 0.6em auto 0.3em;
	padding: 0.2em;
}